.DS_Store
Brewfile.lock.json

# Zsh
.antidote/
.zprofile
.zcompdump*
.zcompcache/
.zsh_history
.zsh_sessions
.zsh_plugins.zsh
zsh/completions

# Tmux
tmux/plugins/

# Karabiner-Elements
karabiner/automatic_backups

